:root {
    --document-bg-color: #fff;
    --dark-bg-color: #007bff;
    --light-bg-color: #69a9ff;
    --dark-text-color: #fff;
    --light-text-color: #000;
    --main-shadow-color: #cfcfcf;
}
* {
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header'
    'aside main main main'
    'footer footer footer footer';
    background-color: var(--document-bg-color);
    grid-gap: 1rem;
}
.grid-header{
    grid-area: header;
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}
.grid-main{grid-area: main;}
.grid-aside{grid-area: aside;}
.grid-footer{grid-area: footer;}


.grid-aside .bank {
    box-shadow: 0px 0px 20px 3px var(--main-shadow-color);
    display: block;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    padding: 1rem;
    background-color: var(--light-bg-color);
}
.grid-aside .bank h2{
    text-align: center;
    margin-bottom: 1rem;
}
.grid-aside .bank p {
    font-size: 1rem;
    text-align: center;
}
.grid-aside .bank .bank-balance {
    margin-right: auto;
    text-decoration: underline;
}
.grid-aside .bank .balance{
    margin-left: auto;
    
}
.grid-aside .bank #btnGetLoan {
    display: block;
    background-color: greenyellow;
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}


.grid-aside .work {
    box-shadow: 0px 0px 20px 3px var(--main-shadow-color);
    display: block;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--light-bg-color);
}
.grid-aside .work h2{
    text-align: center;
    margin-bottom: 1rem;
}
.grid-aside .work p {
    font-size: 1rem;
    text-align: center;
}
.grid-aside .work .work-pay {
    margin-right: auto;
    text-decoration: underline;
}
.grid-aside .work .pay{
    margin-left: auto;
    
}
.grid-aside .work .btnWrapper {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.grid-aside .work #btnBank {
    display: inline;
    background-color: greenyellow;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
}
.grid-aside .work #btnWork {
    display: inline;
    background-color: greenyellow;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.grid-main .dropdown-list {
    box-shadow: 0px 0px 20px 3px var(--main-shadow-color);
    display: block;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    padding: 1rem;
    background-color: var(--light-bg-color);
}
.grid-main .dropdown-list h2{
    text-align: center;
    margin-bottom: 1rem;
}
.grid-main .dropdown-list p {
    font-size: 1rem;
    text-align: center;
}

.grid-main .dropdown-list #laptops {
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    color: #3a3a3a;
    padding: .5rem 1rem;
    width: 100%;
    max-width: 100%;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border: 1px solid #ababab;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5rem;
    
}

.grid-main .dropdown-list #laptops:hover {
	border-color: var(--dark-bg-color);
}

.grid-main .dropdown-list .feature-list h3 {
    text-align: left;
    margin: 0.5rem 0;
    text-decoration: underline;
}

.grid-main .dropdown-list .feature-list ul {
    list-style: none;
    margin: .5rem 0;
}

.grid-main .laptop-description {
    box-shadow: 0px 0px 20px 3px var(--main-shadow-color);
    display: grid;
    grid-template-areas: 
    'image title title price'
    'image desc desc button'
    ;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--light-bg-color);
}

.grid-main .laptop-description img {
    grid-area: image;
    width: 15rem;
    display: inline-block;
}

.grid-main .laptop-description .laptop-name {
    grid-area: title;
    text-align: center;
    font-size: 1.5rem;
}

.grid-main .laptop-description .laptop-desc {
    grid-area: desc;
    font-size: 1.2rem;
    margin: 0 3rem 0 3rem;
}

.grid-main .laptop-description .laptop-price {
    grid-area: price;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
}

.grid-main .laptop-description #btnBuyLaptop {
    grid-area: button;
    height: 5rem;
    background-color: #f3f0f1;
    border-radius: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 5rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.15s ease-in-out;
}


.grid-main .laptop-description #btnBuyLaptop:hover{
    opacity: 0.7;
    box-shadow: -3px -3px 10px rgba(230, 230, 230, 0.8);
}

.grid-main .laptop-description #btnBuyLaptop:active{
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
}

.grid-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.boughtComputerTxt {
    grid-area: footer;
    width: 100%;
    text-align: center;
}

.grid-footer section{
    width: 25%;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
    box-shadow: 0px 0px 10px 5px #ababab, inset 0px 0px 20px 10px #dedede;
}

.grid-footer section img {
    width: 10em;
    mix-blend-mode: multiply;
}